@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --main-gradient: linear-gradient(81.95deg, #108AEE -28.49%, #DC8CE1 48%, #FF408E 96.83%);
  --second-gradient: linear-gradient(46.29deg, #108AEE -58.27%, #DC8CE1 53.16%, #FF408E 124.31%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html body .bvi-panel.bvi-fixed-top {
  position: absolute;
}

body {
  line-height: 1;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background: #fff;
}

img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.scroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: none;
}

input[type=tel] {
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=tel]:focus {
  outline: none;
}

input[type=text]:focus {
  outline: none;
}

.mf-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
  margin-bottom: 5px;
}
.mf-text .mf-req {
  color: #FF1515;
}
@media (min-width: 1200px) {
  .mf-text {
    font-size: 15px;
  }
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  height: 60px;
  border: 1px solid #D6D6D6;
  line-height: 60px;
  padding: 0px 20px;
  width: 100%;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
}

select {
  outline: none;
}

button {
  border: none;
  outline: none;
  padding: 0px;
}

button:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  outline: none;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0px 45px;
  }
}
@media (min-width: 1600px) {
  .container {
    padding: 0px 0px;
    max-width: 1516px;
  }
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
@media (min-width: 1200px) {
  p {
    font-size: 16px;
  }
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
}
@media (min-width: 768px) {
  h1 {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}
@media (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 32px;
  }
}

.bx-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bx-breadcrumb-item {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bx-breadcrumb-item .dot {
  margin-right: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  opacity: 0.5;
}
.bx-breadcrumb-item span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  opacity: 0.5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.bx-breadcrumb-item a:hover span {
  opacity: 1;
}

section {
  padding-top: 32px;
}
@media (min-width: 768px) {
  section {
    padding-top: 48px;
  }
}
@media (min-width: 1200px) {
  section {
    padding-top: 64px;
  }
}

button {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.bttn {
  border: none;
  background: var(--main-gradient);
}
.bttn:hover {
  background: var(--second-gradient);
}

.btn_empty {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px;
}
.btn_empty span {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.btn_empty:hover {
  -o-border-image: none;
     border-image: none;
  border-color: #fff;
}
@media (min-width: 1200px) {
  .btn_empty {
    padding: 0px 15px;
  }
}

.col-6 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
@media (min-width: 768px) {
  .col-6 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.fixed_menu {
  position: fixed;
  left: 15px;
  bottom: 15px;
  width: calc(100% - 30px);
  background-color: #fff;
  z-index: 5;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 62px;
  padding: 0px 10px;
}
.fixed_menu_item {
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F8E9F3;
}
.fixed_menu_item.current {
  background: var(--main-gradient);
}
@media (min-width: 576px) {
  .fixed_menu {
    width: 350px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  .fixed_menu {
    display: none;
  }
}

.card {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.card .bazarow_add_favor {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card .bazarow_add_favor span {
  display: none;
}
.card_img img {
  width: 100%;
}
.card_body {
  padding: 10px;
}
.card_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card_price_percent {
  display: none;
}
.card_price_current {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #000;
}
.card_price_old {
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: #808080;
  margin-left: 12px;
}
.card h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 7px;
  min-height: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card h4 a {
  color: #000;
}
.card_review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.card_review_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 9px;
  margin-right: 9px;
}
.card_review_left::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 5px;
  height: 10px;
  width: 1px;
  background-color: #797979;
}
.card_review_left img {
  margin-right: 10px;
}
.card_review_left span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
}
.card_review_link {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: underline;
  color: #797979;
}
.card_review_link:hover {
  color: #797979;
  text-decoration: none;
}
.card .add_cart {
  border: none;
  width: auto;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  border-radius: 25px;
  margin-top: 14px;
}
.card .add_cart span {
  display: none;
}
.card:hover {
  -webkit-box-shadow: 0px 20px 20px 0px rgba(92, 8, 75, 0.1019607843);
          box-shadow: 0px 20px 20px 0px rgba(92, 8, 75, 0.1019607843);
}
@media (min-width: 1200px) {
  .card_body {
    padding: 20px;
  }
  .card_price_percent {
    height: 20px;
    padding: 0px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: var(--main-gradient);
    border-radius: 50px;
    margin-right: 12px;
  }
  .card_price_percent span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #fff;
  }
  .card_price_current {
    font-size: 24px;
    line-height: 32px;
  }
  .card_price_old {
    margin-left: 12px;
    font-size: 14px;
  }
  .card h4 {
    font-size: 16px;
    line-height: 24px;
    min-height: 48px;
    margin-top: 12px;
  }
  .card_review {
    margin-top: 12px;
  }
  .card_review_left span {
    font-size: 14px;
  }
  .card_review_link {
    font-size: 14px;
  }
  .card .add_cart {
    height: 48px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card .add_cart img {
    margin-right: 8px;
  }
  .card .add_cart span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
  }
}

.marquee {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/marquee/back.jpg);
  background-size: cover;
  background-position: 50%;
  height: 40px;
}
.marquee_track {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
}
.marquee_track span {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin-right: 26px;
}
@media (min-width: 1200px) {
  .marquee {
    height: 56px;
  }
  .marquee_track span {
    font-size: 20px;
    margin-right: 40px;
  }
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.plug {
  height: 40px;
}
@media (min-width: 1200px) {
  .plug {
    height: 56px;
  }
}

.form_hide_input {
  position: absolute;
  z-index: -999;
  visibility: hidden;
  opacity: 0;
}

.main {
  padding-top: 122px;
}
@media (min-width: 1200px) {
  .main {
    padding-top: 136px;
  }
}

.footer {
  margin-top: 64px;
  padding-bottom: 90px;
}
.footer_main_left_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer_main_left_nav li {
  width: 50%;
  margin-bottom: 30px;
}
.footer_main_left_nav li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
}
.footer_main_left_info {
  margin-top: 50px;
}
.footer_main_left_info_tel {
  font-size: 38px;
  color: #000;
}
.footer_main_left_info_tel:hover {
  color: #000;
}
.footer_main_left_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}
.footer_main_left_info ul li {
  margin-right: 38px;
}
.footer_main_left_adres {
  font-size: 12px;
  margin-top: 26px;
}
.footer_main_right {
  margin-top: 80px;
}
.footer_main_right h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0%;
}
.footer_main_right_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  margin-top: 12px;
}
.footer_main_right form {
  margin-top: 32px;
}
.footer_main_right form .mf-email {
  margin-top: 15px;
}
.footer_main_right form .mf-phone {
  margin-top: 15px;
}
.footer_main_right form input[type=submit] {
  color: #fff;
  margin-top: 40px;
}
.footer_main_right_politic {
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  margin-top: 8px;
}
.footer_main_right_politic a {
  font-weight: 400;
  color: #000;
}
.footer_mid {
  padding: 30px 0px 12px 0px;
  margin-top: 30px;
  border-bottom: 1px solid #D9D9D9;
}
.footer_mid_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer_mid_left a img {
  width: 300px;
}
.footer_mid_left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer_mid_left ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 12px;
}
.footer_mid_left ul li a {
  color: #000;
}
.footer_mid_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}
.footer_mid_right a {
  width: calc(50% - 6px);
}
.footer_bottom {
  padding-top: 32px;
}
.footer_bottom_left h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}
.footer_bottom_left ul {
  padding: 10px;
}
.footer_bottom_left ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 12px;
}
.footer_bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}
.footer_bottom_right img {
  margin-right: 20px;
  max-height: 35px;
}
.footer_bottom_right img:last-child {
  margin-right: 0px;
}
@media (min-width: 768px) {
  .footer_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_main_left {
    width: calc(50% - 20px);
  }
  .footer_main_right {
    width: calc(50% - 20px);
    margin-top: 0px;
  }
  .footer_mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_mid_right a {
    width: auto;
    margin-left: 12px;
  }
  .footer_bottom_left ul {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_bottom_left ul li {
    margin-right: 32px;
  }
}
@media (min-width: 992px) {
  .footer {
    background-color: #F6F6F6;
    padding-top: 64px;
  }
  .footer-nomargin {
    margin-top: 0px;
  }
  .footer_main_left {
    padding-top: 30px;
  }
  .footer_main_right {
    background-color: #fff;
    border-radius: 24px;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer_main_left {
    width: calc(40% - 80px);
    padding-top: 50px;
  }
  .footer_main_left_nav li a {
    font-size: 20px;
  }
  .footer_main_left_adres {
    font-size: 18px;
  }
  .footer_main_right {
    width: 60%;
    padding: 40px;
  }
  .footer_main_right h3 {
    font-size: 32px;
  }
  .footer_main_right_text {
    font-size: 22px;
  }
  .footer_main_right form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_main_right form .mf-name {
    width: calc(50% - 10px);
  }
  .footer_main_right form .mf-email {
    width: calc(50% - 10px);
    margin-top: 0px;
  }
  .footer_main_right form .mf-phone {
    width: calc(50% - 10px);
  }
  .footer_main_right form input[type=submit] {
    width: calc(50% - 10px);
  }
  .footer_main_right_politic {
    font-size: 14px;
    width: calc(50% - 10px);
    margin-left: auto;
  }
  .footer_mid {
    border-top: 1px solid #D9D9D9;
    margin-top: 52px;
    padding: 60px 0px;
  }
  .footer_mid_left ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 12px;
  }
  .footer_mid_left ul li {
    margin-top: 0px;
    margin-right: 50px;
  }
  .footer_mid_left ul li:last-child {
    margin-right: 0px;
  }
  .footer_bottom_left ul {
    margin-top: 32px;
  }
  .footer_bottom_left ul li {
    margin-top: 0px;
  }
  .footer_bottom_right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 30px;
  }
  .footer_bottom_right img {
    max-height: none;
  }
}
@media (min-width: 1440px) {
  .footer_main_left_nav li a {
    font-size: 24px;
  }
  .footer_main_left_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_main_left_info_tel {
    font-size: 40px;
  }
  .footer_main_left_info ul {
    margin-top: 0px;
  }
  .footer_main_left_info ul li {
    margin-right: 0px;
    margin-left: 30px;
  }
  .footer_main_left_adres {
    font-size: 22px;
    line-height: 28px;
    margin-top: 46px;
    max-width: 386px;
  }
  .footer_main_right_text {
    margin-top: 30px;
  }
  .footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_bottom_right {
    margin-top: 0px;
  }
}

.header {
  position: fixed;
  left: 0px;
  background-color: #fff;
  z-index: 6;
  top: 0px;
  width: 100%;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(92, 8, 75, 0.1019607843);
          box-shadow: 0px 20px 20px 0px rgba(92, 8, 75, 0.1019607843);
}
.header_top {
  background-color: #FFEFF6;
  height: 40px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header_top_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_top_wrap_city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_top_wrap_city img {
  margin-right: 10px;
}
.header_top_wrap_city span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
}
.header_top_wrap_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_top_wrap_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_top_wrap_right ul li {
  margin-left: 15px;
}
.header_top_wrap_right ul li a {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
}
.header_top_wrap_right ul li a span {
  margin-left: 2px;
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.header_top_wrap_right_tel {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000;
  margin-left: 15px;
}
.header_wrap {
  padding-top: 20px;
  padding-bottom: 12px;
}
.header_wrap_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_wrap_top_logo img {
  max-width: 150px;
}
.header_wrap_top_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_wrap_top_list a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
}
.header_wrap_top_list a span {
  display: none;
}
.header_wrap_top_list a .favor-list-wrap {
  position: absolute;
  right: -10px;
  top: -5px;
  width: 22px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: var(--main-gradient);
}
.header_wrap_top_list a .favor-list-wrap p {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}
.header_wrap_top_list a .bx-basket {
  position: absolute;
  right: -10px;
  top: -5px;
  width: 22px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: var(--main-gradient);
}
.header_wrap_top_list a .bx-basket p {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}
.header_wrap_top_catalog {
  display: none;
}
.header_wrap_top_search {
  display: none;
}
.header_wrap_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}
.header_wrap_bottom_burger {
  width: 44px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 28px;
  background: var(--main-gradient);
}
.header_wrap_bottom_search {
  width: calc(100% - 60px);
}
.header_wrap_bottom_search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header_wrap_bottom_search form input {
  height: 32px;
  border: none;
  background-color: #F9F9F9;
  border-radius: 100px;
  line-height: 32px;
  padding: 0px 32px 0px 15px;
  font-size: 12px;
}
.header_wrap_bottom_search form button {
  position: absolute;
  right: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent;
}
.header_catalog {
  display: none;
}
@media (min-width: 1200px) {
  .header_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header_wrap_bottom {
    display: none;
  }
  .header_wrap_top_logo img {
    max-width: 100%;
  }
  .header_wrap_top_catalog {
    min-width: 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;
    padding: 0px 20px;
    border-radius: 28px;
    background: var(--main-gradient);
    cursor: pointer;
  }
  .header_wrap_top_catalog:hover {
    background: var(--second-gradient);
  }
  .header_wrap_top_catalog_img {
    margin-right: 15px;
    width: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_wrap_top_catalog img.header_wrap_top_catalog_close {
    display: none;
  }
  .header_wrap_top_catalog span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
  }
  .header_wrap_top_catalog.active {
    background: var(--second-gradient);
  }
  .header_wrap_top_catalog.active img.header_wrap_top_catalog_close {
    display: block;
  }
  .header_wrap_top_catalog.active img.header_wrap_top_catalog_burger {
    display: none;
  }
  .header_wrap_top_search {
    display: block;
    width: calc(100% - 660px);
  }
  .header_wrap_top_search form {
    position: relative;
  }
  .header_wrap_top_search form input {
    height: 40px;
    border-radius: 28px;
    line-height: 40px;
    font-size: 14px;
    padding: 0px 50px 0px 20px;
  }
  .header_wrap_top_search form button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: transparent;
  }
  .header_wrap_top_list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
    margin-left: 40px;
  }
  .header_wrap_top_list a span {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000;
  }
  .header_wrap_top_list a .favor-list-wrap {
    right: 6px;
  }
  .header_wrap_top_list a .bx-basket {
    right: 0px;
  }
  .header_wrap_top_list a:first-child {
    margin-left: 0px;
  }
  .header_catalog {
    display: none;
    background-color: #fff;
    width: 100%;
    left: 0px;
    top: 114px;
    padding: 30px 0px;
  }
  .header_catalog_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_catalog_wrap_left {
    width: 250px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
  }
  .header_catalog_wrap_left ul li {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 0.4;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header_catalog_wrap_left ul li:first-child {
    margin-top: 0px;
  }
  .header_catalog_wrap_left ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000;
  }
  .header_catalog_wrap_left ul li.active {
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header_catalog_wrap_right {
    width: calc(100% - 280px);
    position: relative;
  }
  .header_catalog_wrap_right_item {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
    background-color: #fff;
    padding: 30px 30px 20px 30px;
    border-radius: 10px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .header_catalog_wrap_right_item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_catalog_wrap_right_item_block {
    width: calc(14.2857142857% - 8.5714285714px);
    margin-right: 10px;
    margin-bottom: 10px;
    background: #F1F1F1;
    border-radius: 20px;
    padding: 12px;
    position: relative;
    overflow: hidden;
    height: 100px;
  }
  .header_catalog_wrap_right_item_block h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000;
  }
  .header_catalog_wrap_right_item_block img {
    position: absolute;
    right: 0px;
    bottom: -10px;
    height: 60px;
  }
  .header_catalog_wrap_right_item_block:nth-child(7n) {
    margin-right: 0px;
  }
  .header_catalog_wrap_right_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .header_catalog_wrap_right_info_tel {
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #000;
  }
  .header_catalog_wrap_right_info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_catalog_wrap_right_info ul li {
    margin-left: 30px;
  }
  .header_catalog.active {
    display: block;
  }
}
@media (min-width: 1360px) {
  .header_top_wrap_right ul li {
    margin-left: 20px;
  }
  .header_top_wrap_right_tel {
    margin-left: 20px;
  }
}
@media (min-width: 1440px) {
  .header_top_wrap_right ul li {
    margin-left: 40px;
  }
  .header_top_wrap_right_tel {
    margin-left: 40px;
  }
}
@media (min-width: 1600px) {
  .header_catalog_wrap_right_item_block {
    height: 120px;
  }
  .header_catalog_wrap_right_item_block h4 {
    font-size: 16px;
  }
  .header_catalog_wrap_right_item_block img {
    height: 80px;
  }
}

.drodown {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 7;
  width: 100%;
  padding: 15px 0px 30px 0px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.drodown_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.drodown_top_close {
  width: 44px;
  height: 32px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--main-gradient);
  border-radius: 28px;
}
.drodown_top_logo img {
  max-width: 150px;
}
.drodown_cats {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}
.drodown_cats ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.drodown_cats ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
}
.drodown_cats ul li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
}
.drodown_cats ul li.drop {
  cursor: pointer;
}
.drodown_cats ul li:first-child {
  margin-top: 0px;
}
.drodown_menu {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}
.drodown_menu ul li {
  margin-top: 20px;
}
.drodown_menu ul li:first-child {
  margin-top: 0px;
}
.drodown_menu ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
}
.drodown_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}
.drodown_footer_tel {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
}
.drodown_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.drodown_footer ul li {
  margin-right: 20px;
}
.drodown_item {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
  z-index: 2;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.drodown_item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.drodown_item_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.drodown_item_back img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 12px;
}
.drodown_item_back span {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}
.drodown_item h3 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}
.drodown_item_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 6px;
}
.drodown_item_body_block {
  width: calc(50% - 8px);
  margin-top: 16px;
  background-color: #F1F1F1;
  border-radius: 10px;
  position: relative;
  padding: 12px;
  overflow: hidden;
  height: 70px;
}
.drodown_item_body_block h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #000;
}
.drodown_item_body_block img {
  position: absolute;
  right: 0px;
  bottom: -10px;
  height: 60px;
}
.drodown.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.drodown.drop .drodown_cats {
  display: none;
}
@media (min-width: 768px) {
  .drodown_item {
    padding: 15px 30px;
  }
  .drodown_item_body {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .drodown_item_body_block {
    width: calc(33.3333333333% - 10.6666666667px);
    margin-right: 16px;
    height: 80px;
  }
  .drodown_item_body_block h4 {
    font-size: 14px;
  }
  .drodown_item_body_block img {
    height: 70px;
  }
  .drodown_item_body_block:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (min-width: 992px) {
  .drodown_item {
    padding: 15px 45px;
  }
  .drodown_item_body_block {
    height: 100px;
  }
  .drodown_item_body_block h4 {
    font-size: 16px;
  }
  .drodown_item_body_block img {
    height: 80px;
  }
}

.home_catalog .col-6 {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .home_catalog .col-6 {
    margin-top: 30px;
  }
}

.section_cats .container {
  padding: 0px;
}
.section_cats_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: scroll;
  padding: 0px 15px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.section_cats_list::-webkit-scrollbar {
  display: none;
}
.section_cats_list_item {
  display: block;
  min-width: 150px;
  height: 80px;
  background: #F1F1F1;
  border-radius: 10px;
  padding: 12px;
  overflow: hidden;
  position: relative;
  margin-right: 12px;
}
.section_cats_list_item:last-child {
  margin-right: 0px;
}
.section_cats_list_item h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #000;
}
.section_cats_list_item img {
  position: absolute;
  right: 0px;
  bottom: -10px;
  height: 60px;
}
@media (min-width: 768px) {
  .section_cats_list {
    padding: 0px 30px;
  }
}
@media (min-width: 992px) {
  .section_cats_list {
    padding: 0px 45px;
  }
}
@media (min-width: 1200px) {
  .section_cats .container {
    padding: 0px 45px;
  }
  .section_cats_list {
    padding: 0px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section_cats_list_item {
    height: 120px;
    width: calc(14.2857142857% - 8.5714285714px);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .section_cats_list_item h4 {
    font-size: 18px;
  }
  .section_cats_list_item img {
    height: 70px;
  }
  .section_cats_list_item:nth-child(7n) {
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .section_cats_list_item img {
    height: 80px;
  }
}
@media (min-width: 1600px) {
  .section_cats .container {
    padding: 0px 0px;
    max-width: 1516px;
  }
  .section_cats_list_item {
    width: calc(12.5% - 10.5px);
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .section_cats_list_item:nth-child(7n) {
    margin-right: 12px;
  }
  .section_cats_list_item:nth-child(8n) {
    margin-right: 0px;
  }
}

.section_blog .container-section_blog {
  padding: 0px;
}
.section_blog h2 {
  margin-bottom: 15px;
}
.section_blog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: scroll;
  padding: 0px 15px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.section_blog_list::-webkit-scrollbar {
  display: none;
}
.section_blog_list_item {
  display: block;
  background: #F5F5F5;
  border-radius: 20px;
  min-width: 290px;
  margin-right: 15px;
}
.section_blog_list_item_img {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  height: 160px;
}
.section_blog_list_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.section_blog_list_item_body {
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.section_blog_list_item_body h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
}
.section_blog_list_item_body p {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
  margin-top: 20px;
  opacity: 0.5;
}
.section_blog_list_item_body_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}
.section_blog_list_item_body_footer_btn {
  height: 50px;
  position: relative;
  border-radius: 10px;
  background: var(--main-gradient);
  padding: 1px;
  width: 160px;
}
.section_blog_list_item_body_footer_btn::after {
  content: "";
  position: absolute;
  inset: 1px; /* отступ внутрь на толщину рамки */
  border-radius: 9px; /* чуть меньше радиус, чтобы повторить форму */
  background: #F5F5F5; /* внутренний фон */
  z-index: 0;
}
.section_blog_list_item_body_footer_btn span {
  position: relative;
  z-index: 2;
}
.section_blog_list_item_body_footer_btn:hover {
  background: #fff;
}
.section_blog_list_item_body_footer_btn:hover::after {
  background: #fff;
}
.section_blog_list_item_body_footer_date {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
}
.section_blog_list_item:hover .section_blog_list_item_img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.section_blog_list_item:last-child {
  margin-right: 0px;
}
@media (min-width: 768px) {
  .section_blog h2 {
    margin-bottom: 30px;
  }
  .section_blog_list {
    padding: 0px 30px;
  }
}
@media (min-width: 992px) {
  .section_blog .container-section_blog {
    padding: 0px 45px;
  }
  .section_blog_list {
    padding: 0px 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .section_blog_list_item {
    width: calc(33.3333333333% - 8px);
    margin-right: 12px;
  }
  .section_blog_list_item:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .section_blog_list_item {
    width: calc(33.3333333333% - 21.3333333333px);
    margin-right: 32px;
  }
  .section_blog_list_item_img {
    height: 220px;
  }
  .section_blog_list_item_body {
    padding: 30px 25px;
  }
  .section_blog_list_item_body h4 {
    font-size: 22px;
  }
  .section_blog_list_item_body p {
    font-size: 14px;
  }
  .section_blog_list_item_body_footer {
    margin-top: 32px;
  }
  .section_blog_list_item_body_footer_btn {
    height: 54px;
    width: 202px;
  }
  .section_blog_list_item_body_footer_btn span {
    font-size: 16px;
  }
  .section_blog_list_item_body_footer_date {
    font-size: 16px;
  }
  .section_blog_list_item:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (min-width: 1440px) {
  .section_blog_list_item_img {
    height: 270px;
  }
}
@media (min-width: 1600px) {
  .section_blog .container-section_blog {
    padding: 0px 0px;
    max-width: 1516px;
  }
}

.section_empty {
  padding-top: 0px;
}
.section_empty h1 {
  margin-top: 22px;
}
.section_empty_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
}
.section_empty_wrap h2 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
}
.section_empty_wrap p {
  color: #383838;
  text-align: center;
  margin-top: 12px;
}
.section_empty_wrap p b {
  font-weight: 700;
}
.section_empty_wrap .bttn {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 22px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .section_empty_wrap h2 {
    font-size: 24px;
  }
  .section_empty_wrap p {
    max-width: 650px;
  }
  .section_empty_wrap .bttn {
    width: 295px;
  }
}
@media (min-width: 992px) {
  .section_empty_wrap h2 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .section_empty_wrap {
    margin-top: 78px;
  }
  .section_empty_wrap h2 {
    font-size: 38px;
    margin-top: 38px;
  }
  .section_empty_wrap p {
    margin-top: 22px;
  }
  .section_empty_wrap .bttn {
    margin-top: 52px;
  }
}

.notfound {
  background: url(../img/404/back.jpg);
  background-size: cover;
  background-position: 35% 0%;
  margin-top: 96px;
  padding-bottom: 60px;
}
.notfound_block {
  width: 180px;
}
.notfound_block h2 {
  font-size: 22px;
  color: #fff;
}
.notfound_block p {
  font-size: 12px;
  color: #fff;
  margin-top: 12px;
  line-height: 130%;
}
.notfound_block a {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0%;
  color: #000;
  margin-top: 12px;
}
.notfound_block img {
  margin-top: 54px;
}
.notfound_desktop {
  display: none;
}
@media (min-width: 768px) {
  .notfound {
    background-position: 50%;
  }
  .notfound_block {
    width: 240px;
  }
  .notfound_block h2 {
    font-size: 28px;
  }
  .notfound_block p {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .notfound {
    margin-top: 110px;
    height: calc(100vh - 110px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .notfound_block {
    width: 300px;
  }
  .notfound_block h2 {
    font-size: 36px;
  }
  .notfound_block p {
    font-size: 16px;
    margin-top: 22px;
  }
  .notfound_block a {
    margin-top: 32px;
    height: 65px;
    line-height: 65px;
    font-size: 16px;
    width: 228px;
  }
  .notfound_block img {
    display: none;
  }
  .notfound_desktop {
    position: absolute;
    right: 30px;
    bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 460px;
  }
}
@media (min-width: 1600px) {
  .notfound_desktop {
    max-width: 510px;
    right: 60px;
    bottom: 80px;
  }
}
@media (min-width: 1920px) {
  .notfound_desktop {
    max-width: 622px;
    bottom: 90px;
  }
}